doctype html
html (lang="en")
head
title Exploration 1: Jade
body
    div
      h1 Xavier's Jade Exploration
      ul
        li Jade
        li Makes HTML so much easier
      p.
        You can program the exact same thing in JADE as you do in HTML without all the extra tags!
